@model IEnumerable<PROG_POE_2.Models.Farmer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="header">
        <h1>Welcome to Farmer's Dashboard</h1>
        <hr />
    </div>



